body {
    background-color: rgb(66, 66, 66);
    color: rgb(245, 245, 245);
    font-family: 'Georgia', Courier, monospace;
    margin: 0;
}

nav {
    background-color: rgb(245, 245, 245);
    color:  rgb(66, 66, 66);
    position: fixed;
    height: 3vh;
    width: 100vw;
    text-align: center;
    padding-top: .25vw;
    padding-bottom: .75vh;
}


button.navNews:hover {
    border-bottom: 2px solid rgb(245, 145, 145);
}


button.patreon:hover {
    border-bottom: 2px solid rgb(245, 145, 45);
}

button.tableOfContents:hover {
    border-bottom: 2px solid rgb(45, 245, 45);
}

button.about:hover {
    border-bottom: 2px solid rgb(45, 145, 245);
}



button {
    border: 0;
    padding: 0;
    margin: 0;
    border-bottom: 2px solid black;
    background-color: rgb(245, 245, 245);
    font-size: large;
    width: auto;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: .5vw;
    margin-left: .5vw;
    height: 3vh;
    transition-duration: 0.25s;
}







.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.center-vert {
    margin-top: auto;
    margin-bottom: -5px;
}














#div-line {
    border-top: 2px solid black;
    width: 60vw;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
}

#main {
    display: block;
    width: auto; 
    margin-left: 20vw; 
    margin-right: 20vw;
    text-align: center;
    padding-top: 5vh;
    padding-bottom: 1vh;
    height: 94vh;
}

#demo {
    font-size: xx-large;
}

/* For Desktops */
@media only screen and (min-width: 768px) {
    
}

/* For Tablets */
@media only screen and (min-width: 600px) {
    button {
        font-size: medium;
        width: auto;
    }
}

/* For Mobile Phones: */
@media only screen and (max-width: 600px) {
    button {
        font-size: small;    
        width: auto;   
        padding-right: 2px;
        padding-left: 2px;
    }

    #main { 
        margin-left: 5vw; 
        margin-right: 5vw;
    }
}








