/*

    FOR DESKTOPS AND DEVICES LARGER THAN 1100 PIXELS WIDE

*/



/*
    body, nav, and id main elements bunched together for convenience
    for some background, i use ids for divs and classes for text and images
*/

body {
    background-color: rgb(50, 51, 55);
    color: rgb(22, 22, 22);
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

nav {
    display: block;
    width: 50vw; 
    background-color: rgb(236, 228, 210);
    color:  rgb(22, 22, 22);
    height: auto;
    text-align: center;
    padding-top: .25vw;
    padding-bottom: .75vh;
    margin-left: 25vw; 
    margin-right: 25vw;
    border: 0;
}

nav.desktop {
    display: block;
}

nav.mobile {
    display: none;
}

#main {
    display: block;
    width: 40vw; 
    background-color: rgb(236, 228, 210);
    border-left: 5vw solid rgb(236, 228, 210);
    border-right: 5vw solid rgb(236, 228, 210);
    border-top: 1px solid rgb(236, 228, 210);
    border-bottom: 1px solid rgb(236, 228, 210);
    margin-left: 25vw; 
    margin-right: 25vw;
    text-align: center;
    height: auto;
}

#main-about {
    display: block;
    width: 40vw; 
    background-color: rgb(236, 228, 210);
    border-left: 5vw solid rgb(236, 228, 210);
    border-right: 5vw solid rgb(236, 228, 210);
    border-top: 1px solid rgb(236, 228, 210);
    border-bottom: 1px solid rgb(236, 228, 210);
    margin-left: 25vw; 
    margin-right: 25vw;
    text-align: center;
    height: 95.5vh;
}

/*
    text-based tags, stuff like headers, paragraphs, and hyperlinks. button is also here (say hi to button) but other more specifc button classes are grouped together for convenience
*/

h1 {
    font-family: 'Georgia', "Palatino Linotype", serif;
    color: rgb(33, 33, 33);
    font-size: 32px;
    font-weight: bold;
    text-align: left;
    position: relative;
}

h1.big {
    font-size: 40px;
}

h2 {
    font-family: 'Georgia', "Palatino Linotype", serif;
    color: rgb(33, 33, 33);
    font-size: 28px;
    text-align: left;
    position: relative;
}

h3 {
    font-family: 'Georgia', "Palatino Linotype", serif;
    color: rgb(33, 33, 33);
    font-size: 24px;
    text-align: left;
    position: relative;
    font-weight: bolder;
    font-style: italic;
}

a.instagram {
    color:  rgb(221, 42, 123);
    text-decoration: underline;
}

a.instagram:hover {
    color:  rgb(238, 150, 189);
    text-decoration: underline;
}

p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(0, 0, 0);
    font-size: 20px;
    text-align: justify;
    display: block;
    text-indent: 25px;
    margin-top: 7px;
    margin-bottom: 7px;
    position: relative;
}

a {
    text-decoration: none;
    color: rgb(60, 40, 0);
    padding: 10px;
    border-radius: 25px;
}

a:hover {
    text-decoration: none;
    color: rgb(160, 140, 100);
    transition-timing-function: ease;
    transition-duration: 0.25s;
}

button {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(60, 40, 0);
    border: 3px solid rgb(156, 129, 65);
    border-radius: 5px;
    padding: 5px;
    margin: 0;
    background-color:transparent;
    font-size: 25px;    
    height: auto;
    width: auto;
    margin-right: .5vw;
    margin-left: .5vw;
    position: relative;
    z-index: 10;
}

ul {
    font-size: 32px;
    font-weight: bold;
    text-align: left;
    position: relative;
}

li {
    margin-bottom: 15px;
}


/*
    previously mentioned button classes
*/

button:hover {
    cursor: pointer;
    color: rgb(160, 140, 100);
    transition-timing-function: ease;
    transition-duration: 0.25s;
    border-radius: 5px;
}

button.navNews:hover {
    border: 3px solid rgb(188, 101, 98);
    border-bottom: 3px solid rgb(156, 129, 65);
}

/* button.patreon:hover {
    border-bottom: 5px solid rgb(250, 105, 85);
} */

button.instagram:hover {
    border: 3px solid rgb(238, 150, 189);
    border-bottom: 3px solid rgb(156, 129, 65);
}

button.tableOfContents:hover {
    border: 3px solid rgb(169, 197, 120);
    border-bottom: 3px solid rgb(156, 129, 65);
}

button.about:hover {
    border: 3px solid rgb(120, 169, 197);
    border-bottom: 3px solid rgb(156, 129, 65);
}

button.previous {
    border: 0;
    border-left: 25px solid rgb(50, 51, 55);
    border-bottom: 0;
    margin: 10px;
    padding-left: 10px;
    border-radius: 50px;
}

button.previous:hover {
    border-left: 25px solid rgb(120, 169, 197);
    border-bottom: 0;
}

button.next {
    border: 0;
    border-right: 25px solid rgb(50, 51, 55);
    border-bottom: 0;
    margin: 10px;
    padding-right: 10px;
    border-radius: 50px;
}

button.next:hover {
    border-right: 25px solid rgb(133, 60, 57);
    border-bottom: 0;
}



/*
    general classes
*/

/* used to center text. obviously. */
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/* used to center things vertically. again, this should be obvious, it's called center-vert */
.center-vert {
    margin-top: auto;
    margin-bottom: -5px;
}

.start-reading {
    border-radius: 40px;
    border: 3px solid rgb(198, 174, 119);
}

.start-reading:hover {
    border-radius: 40px;
    border: 3px solid rgb(133, 60, 57);
}

.toc {
    border-radius: 0;
    padding: 0px;
    border-bottom: 2px solid rgb(89, 74, 37);
}

.toc:hover {
    border-radius: 0;
    padding: 0px;
    border-bottom: 2px solid rgb(133, 60, 57);
}

/*
    general ids
*/

/* used to create a thick, throbbing, juicy line that spans half the viewport */
#div-line-long-thick-top {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 5px;
    border-bottom: 5px solid rgb(89, 74, 37);
    width: 45vw;
    margin-left: -2.5vw;
    position: relative;
}

#div-line-long-thick-bottom {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 0;
    border-top: 5px solid rgb(89, 74, 37);
    border-bottom: 5px solid rgb(89, 74, 37);
    width: 45vw;
    margin-left: -2.5vw;
    position: relative;
}

/* used to create a still long yet not nearly as thick or thobbing line */
#div-line-long {
    border-top: 2px solid rgb(112, 92, 47);
    width: 40vw;
    margin: 10px;
    position: relative;
}

/* this line has self esteem issues. it's not about the size, but how you use it little buddy! */
#div-line-short {
    border-top: 2px solid rgb(134, 111, 56);
    width: 25vw;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

#div-line-nav {
    border-top: 5px solid rgb(156, 129, 65);
    width: 45vw;
    margin-left: -2.5vw;
    margin: -.25vh;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

/* used for the countdown timer, credit to: https://www.w3schools.com/howto/howto_js_countdown.asp*/
#demo {
    text-align: center;
    font-size: x-large;
}



/*

    FOR TABLETS AND DEVICES BETWEEN 1100 AND 600 PIXELS WIDE

*/
@media only screen and (max-width: 1100px) {
    button {
        font-size: medium;
        width: auto;
        margin: 2px;
    }
    
    #demo {
        font-size: large;
    }

    h1 {
        font-size: 28px;
    }
    
    h1.big {
        font-size: 36px;
    }

    h2 {
        font-size: 24px;
    }

    h3 {
        font-size: 22px;
    }
    
    p {
        font-size: 20px;
    }

    nav {
        width: 80vw;
        margin-left: -2.5vw;
        padding-top: .25vw;
        padding-bottom: .75vh;
        margin-left: 10vw; 
        margin-right: 10vw;
    }

    nav.mobile {
        display: block;
    }

    nav.desktop {
        display: none;
    }

    #main {
        width: 70vw; 
        border-left: 5vw solid rgb(236, 228, 210);
        border-right: 5vw solid rgb(236, 228, 210);
        margin-left: 10vw; 
        margin-right: 10vw;
    }
    
    #main-about {
        width: 70vw; 
        border-left: 5vw solid rgb(236, 228, 210);
        border-right: 5vw solid rgb(236, 228, 210);
        margin-left: 10vw; 
        margin-right: 10vw;
    }

    #div-line-long-thick-top {
        width: 75vw;
        margin-left: -2.5vw;
        margin-right: auto;
    }
    
    #div-line-long-thick-bottom {
        width: 75vw;
        margin-left: auto;
        margin-right: auto;
    }
    
    #div-line-long {
        width: 60vw;
        margin-left: auto;
        margin-right: auto;
    }
    
    #div-line-short {
        width: 40vw;
        margin-left: auto;
        margin-right: auto;
    }
    
    #div-line-nav {
        width: 75vw;
        margin-left: auto;
        margin-right: auto;
    }
}



/*

    FOR PHONES AND STUPID LITTLE DEVICES LESS THAN 600 PIXELS WIDE

*/
@media only screen and (max-width: 600px) {

    button.previous {
        font-size: medium;
    }
    
    button.next {
        font-size: medium;
    }

    h1 {
        font-size: 28px;
    }
    
    h1.big {
        font-size: 36px;
    }

    h2 {
        font-size: 24px;
    }

    h3 {
        font-size: 22px;
    }
    
    p {
        font-size: 18px;
    }

    nav {
        width: 90vw; 
        padding-top: .25vw;
        padding-bottom: .75vh;
        margin: 0;
        border-left: 5vw solid rgb(236, 228, 210);
        border-right: 5vw solid rgb(236, 228, 210);
    }

    nav.mobile {
        display: block;
    }

    nav.desktop {
        display: none;
    }

    button {
        font-size: 25px;    
        height: auto;
        width: auto;   
        padding-right: 2px;
        padding-left: 2px;
    }

    #main {
        width: 90vw; 
        margin: 0;
        border-left: 0;
        border-right: 0;
        border-left: 5vw solid rgb(236, 228, 210);
        border-right: 5vw solid rgb(236, 228, 210);
    }

    #div-line-long-thick-top {
        width: 90vw;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }
    
    #div-line-long-thick-bottom {
        width: 90vw;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }
    
    #div-line-long {
        width: 80vw;
        margin-left: auto;
        margin-right: auto;
    }
    
    #div-line-short {
        width: 70vw;
        margin-left: auto;
        margin-right: auto;
    }
    
    #div-line-nav {
        width: 90vw;
        margin-left: auto;
        margin-right: auto;
    }
}