/*

    FOR DESKTOPS AND DEVICES LARGER THAN 768 PIXELS WIDE

*/



/*
    body, nav, and id main elements bunched together for convenience
    id background image is also here i guess
    for some background, i use ids for divs and classes for text and images
*/

body {
    background-color: rgb(50, 51, 55);
    color: rgb(22, 22, 22);
    margin: 0;
}

nav {
    display: block;
    width: 50vw; 
    background-color: rgb(236, 228, 210);
    color:  rgb(22, 22, 22);
    height: auto;
    text-align: center;
    padding-top: .25vw;
    padding-bottom: .75vh;
    margin-left: 25vw; 
    margin-right: 25vw;
}

nav.desktop {
    display: block;
}

nav.mobile {
    display: none;
}

#main {
    display: block;
    width: 40vw; 
    background-color: rgb(236, 228, 210);
    border-left: 5vw solid rgb(236, 228, 210);
    border-right: 5vw solid rgb(236, 228, 210);
    border-top: 1px solid rgb(236, 228, 210);
    border-bottom: 1px solid rgb(236, 228, 210);
    margin-left: 25vw; 
    margin-right: 25vw;
    text-align: center;
    height: auto;
}

#main-about {
    display: block;
    width: 40vw; 
    background-color: rgb(236, 228, 210);
    border-left: 5vw solid rgb(236, 228, 210);
    border-right: 5vw solid rgb(236, 228, 210);
    border-top: 1px solid rgb(236, 228, 210);
    border-bottom: 1px solid rgb(236, 228, 210);
    margin-left: 25vw; 
    margin-right: 25vw;
    text-align: center;
    height: 95.5vh;
}

/* currently unused. there were problems with them so i just changed background colors */
#background-image {
    left: 25vw;
    width: 50vw;
    height: auto;
    position: fixed;
    display: block;
    top: 0;
    right: 0;
    bottom: 0;
    background-image: url("background_image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.5;
    z-index: 0;
}

#backerground-image {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: 700px, 500px;
    background-repeat: repeat;
    background-image: url("backerground_image.jpg");
    opacity: .25;
    z-index: -1;
}



/*
    text-based tags, stuff like headers, paragraphs, and hyperlinks. button is also here (say hi to button) but other more specifc button classes are grouped together for convenience
*/

h1 {
    font-family: 'Georgia', "Palatino Linotype", serif;
    color: rgb(33, 33, 33);
    font-size: 32px;
    font-weight: bold;
    text-align: left;
    position: relative;
    z-index: 10;
}

h2 {
    font-family: 'Georgia', "Palatino Linotype", serif;
    color: rgb(33, 33, 33);
    font-size: 24px;
    text-align: left;
    position: relative;
    z-index: 10;
}

a.instagram {
    color:  rgb(221, 42, 123);
    text-decoration: underline;
}

a.instagram:hover {
    color:  rgb(251, 72, 155);
    text-decoration: underline;
}

p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(0, 0, 0);
    font-size: 16px;
    text-align: justify;
    display: block;
    text-indent: 25px;
    margin-top: 0px;
    margin-bottom: 15px;
    position: relative;
    z-index: 10;
}

a {
    text-decoration: none;
    color: rgb(60, 40, 0);
    padding: 10px;
    border-radius: 25px;
}

a:hover {
    text-decoration: none;
    color: rgb(160, 140, 100);
    transition-timing-function: ease;
    transition-duration: 0.25s;
}

button {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(60, 40, 0);
    border: 0;
    padding: 0;
    margin: 0;
    border-bottom: 2px solid rgb(50, 51, 55);
    background-color:transparent;
    font-size: large;
    width: auto;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: .5vw;
    margin-left: .5vw;
    height: 3vh;
    position: relative;
    z-index: 10;
}

button.index {
    font-size: 25px;    
    height: auto;
    width: auto;   
    padding-right: 2px;
    padding-left: 2px;
}

ul {
    font-size: 32px;
    font-weight: bold;
    text-align: left;
    position: relative;
    z-index: 10;
}

li {
    margin-bottom: 15px;
}


/*
    previously mentioned button classes
*/

button:hover {
    cursor: pointer;
    color: rgb(160, 140, 100);
    transition-timing-function: ease;
    transition-duration: 0.25s;
    border-radius: 5px;
}

button.navNews:hover {
    border-bottom: 5px solid rgb(245, 75, 55);
}

/* button.patreon:hover {
    border-bottom: 5px solid rgb(250, 105, 85);
} */

button.instagram:hover {
    border-bottom: 5px solid rgb(221, 42, 123);
}

button.tableOfContents:hover {
    border-bottom: 5px solid rgb(75, 245, 55);
}

button.about:hover {
    border-bottom: 5px solid rgb(45, 145, 245);
}

button.previous {
    border-left: 15px solid rgb(50, 51, 55);
    border-bottom: 0;
    margin: 10px;
    border-radius: 50px;
}

button.previous:hover {
    border-left: 15px solid rgb(45, 145, 245);
    border-bottom: 0;
}

button.next {
    border-right: 15px solid rgb(50, 51, 55);
    border-bottom: 0;
    margin: 10px;
    border-radius: 50px;
}

button.next:hover {
    border-right: 15px solid rgb(245, 75, 55);
    border-bottom: 0;
}



/*
    general classes
*/

/* used to center text. obviously. */
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/* used to center things vertically. again, this should be obvious, it's called center-vert */
.center-vert {
    margin-top: auto;
    margin-bottom: -5px;
}

.start-reading:hover {
    border: 2px solid rgb(50, 51, 55);
}

.toc {
    border-radius: 0;
    padding: 0px;
    border-bottom: 2px solid rgb(50, 51, 55);
}

.toc:hover {
    border-radius: 0;
    padding: 0px;
    border-bottom: 2px solid rgb(245, 100, 80);
}

/*
    general ids
*/

/* used to create a thick, throbbing, juicy line that spans half the viewport */
#div-line-long-thick-top {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 0;
    border-bottom: 5px solid rgb(50, 51, 55);
    width: 45vw;
    margin-left: -2.5vw;
    position: relative;
    z-index: 10;
}

#div-line-long-thick-bottom {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 0;;
    border-top: 5px solid rgb(50, 51, 55);
    border-bottom: 5px solid rgb(50, 51, 55);
    width: 45vw;
    margin-left: -2.5vw;
    position: relative;
    z-index: 10;
}

/* used to create a still long yet not nearly as thick or thobbing line */
#div-line-long {
    border-top: 2px solid rgb(50, 51, 55);
    width: 40vw;
    margin: 10px;
    position: relative;
    z-index: 10;
}

/* this line has self esteem issues. it's not about the size, but how you use it little buddy! */
#div-line-short {
    border-top: 2px solid rgb(50, 51, 55);
    width: 25vw;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 10;
}

#div-line-nav {
    border-top: 5px solid rgb(50, 51, 55);
    width: 45vw;
    margin-left: -2.5vw;
    margin: -.25vh;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 1;
}



/*
    stuff to DELETE when website is completed
*/

/* used for the countdown timer i stole from w3schools*/
#demo {
    text-align: center;
    font-size: xx-large;
}



/*

    FOR TABLETS AND DEVICES BETWEEN 768 AND 600 PIXELS WIDE

*/
@media only screen and (max-width: 1050px) {
    button {
        font-size: medium;
        width: auto;
    }

    h1 {
        font-size: 24px;
    }
    
    h2 {
        font-size: 20px;
    }
    
    p {
        font-size: 16px;
    }

    nav {
        width: 80vw; 
        padding-top: .25vw;
        padding-bottom: .75vh;
        margin-left: 10vw; 
        margin-right: 10vw;
    }

    nav.mobile {
        display: block;
    }

    nav.desktop {
        display: none;
    }

    #main {
        width: 70vw; 
        border-left: 5vw solid rgb(236, 228, 210);
        border-right: 5vw solid rgb(236, 228, 210);
        margin-left: 10vw; 
        margin-right: 10vw;
    }
    
    #main-about {
        width: 70vw; 
        border-left: 5vw solid rgb(236, 228, 210);
        border-right: 5vw solid rgb(236, 228, 210);
        margin-left: 10vw; 
        margin-right: 10vw;
    }

    #background-image {
        left: 10vw;
        width: 80vw;
        height: auto;
    }

    #div-line-long-thick-top {
        width: 80vw;
    }
    
    #div-line-long-thick-bottom {
        width: 80vw;
    }
    
    #div-line-long {
        width: 60vw;
    }
    
    #div-line-short {
        width: 40vw;
    }
    
    #div-line-nav {
        width: 80vw;
    }
}



/*

    FOR PHONES AND STUPID LITTLE DEVICES LESS THAN 600 PIXELS WIDE

*/
@media only screen and (max-width: 600px) {
    button {
        font-size: 12px;    
        width: auto;   
        padding-right: 2px;
        padding-left: 2px;
    }

    button.previous {
        font-size: small;
    }
    
    button.next {
        font-size: small;
    }

    h1 {
        font-size: 20px;
    }

    #demo {
        font-size: small;
    }
    
    h2 {
        font-size: 16px;
    }
    
    p {
        font-size: 14px;
    }

    nav {
        width: 100vw; 
        padding-top: .25vw;
        padding-bottom: .75vh;
        margin-left: 2vw solid rgb(236, 228, 210);
        margin-right: 2vw solid rgb(236, 228, 210);
        margin: 0;
    }

    nav.mobile {
        display: block;
    }

    nav.desktop {
        display: none;
    }

    button.index {
        font-size: 25px;    
        height: auto;
        width: auto;   
        padding-right: 2px;
        padding-left: 2px;
    }

    #main {
        width: 96vw; 
        border-left: 2vw solid rgb(236, 228, 210);
        border-right: 2vw solid rgb(236, 228, 210);
        margin: 0;
    }

    #background-image {
        left: 10vw;
        width: 80vw;
        height: auto;
    }

    #div-line-long-thick-top {
        width: 96vw;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }
    
    #div-line-long-thick-bottom {
        width: 96vw;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }
    
    #div-line-long {
        width: 80vw;
        margin-left: auto;
        margin-right: auto;
    }
    
    #div-line-short {
        width: 60vw;
        margin-left: auto;
        margin-right: auto;
    }
    
    #div-line-nav {
        width: 96vw;
        margin-left: auto;
        margin-right: auto;
    }
}

/*

    FOR PHONES AND EVEN STUPIDER LITTLE DEVICES LESS THAN 400 PIXELS WIDE

*/
@media only screen and (max-width: 400px) {
    button {
        font-size:12px;    
        width: auto;   
        padding-right: 2px;
        padding-left: 2px;
    }

    button.previous {
        font-size: small;
    }
    
    button.next {
        font-size: small;
    }

    h1 {
        font-size: 20px;
    }
    
    h2 {
        font-size: 16px;
    }
    
    p {
        font-size: 14px;
    }

    nav {
        width: 96vw; 
        padding-top: .25vw;
        padding-bottom: .75vh;
        border-left: 2vw solid rgb(236, 228, 210);
        border-right: 2vw solid rgb(236, 228, 210);
        margin: 0;
    }

    nav.mobile {
        display: block;
    }

    nav.desktop {
        display: none;
    }

    #main {
        width: 96vw; 
        border-left: 2vw solid rgb(236, 228, 210);
        border-right: 2vw solid rgb(236, 228, 210);
        margin: 0;
    }

    #div-line-long-thick-top {
        width: 96vw;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }
    
    #div-line-long-thick-bottom {
        width: 96vw;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }
    
    #div-line-long {
        width: 80vw;
        margin-left: auto;
        margin-right: auto;
    }
    
    #div-line-short {
        width: 60vw;
        margin-left: auto;
        margin-right: auto;
    }
    
    #div-line-nav {
        width: 96vw;
        margin-left: auto;
        margin-right: auto;
    }
}